(
  name: "Player right moving",
  tile: Animated((
    speed: 0.1,
    frames: [
      "player/right_0.png",
      "player/right_1.png",
      "player/right_2.png",
      "player/right_3.png",
    ]
  ))
)