(
    name: Some("Player"),
    id: 0,
    tiles: {
        0: "../tiles/player_up_idle.ron",
        1: "../tiles/player_up_moving.ron",
        2: "../tiles/player_left_idle.ron",
        3: "../tiles/player_left_moving.ron",
        4: "../tiles/player_down_idle.ron",
        5: "../tiles/player_down_moving.ron",
        6: "../tiles/player_right_idle.ron",
        7: "../tiles/player_right_moving.ron",
    }
)